@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mohave&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@font-face {
    font-family: 'Revue';
    src: url('./Assets/reve.ttf') format('truetype');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

#scroll{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255, 0.05);
    z-index: 100;
}

/* HOME */
header {
    width: 100%;
    z-index: 100;
}

.menu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    box-shadow: black 0px 0px 10px 5px;
}

.logo img {
    width: 65px;
}

.navbar {
    flex-grow: 0.3;
}

.option {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.option a {
    text-decoration: none;
    color: black;
}

.option a:hover,
.option a:focus {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px 9px;
}

.torcida {
    background: url(Assets/torcidaVILA.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

.comeco {
    background-color: rgba(0, 0, 0, 0.82);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.caixa {
    align-items: center;
    justify-content: center;
}

.caixa h1 {
    font-size: 5rem;
    font-family: 'Revue', sans-serif;
    font-weight: normal;
    color: white;
    z-index: 100;
}

.caixa p {
    font-size: 1.3rem;
    color: white;
    z-index: 100;
}

.texto {
    padding-top: 100px;
    padding-bottom: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto .ourHistory {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}

.texto p {
    font-size: 1.3rem;
    color: black;
    z-index: 100;
}

.texto h2 {
    font-size: 5rem;
    color: black;
    z-index: 100;
}

/* From Uiverse.io by cssbuttons-io */
.historia {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.historia.learn-more {
    width: 12rem;
    height: auto;
}

.historia.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

.historia.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.historia.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.historia.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.historia.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.historia:hover .circle {
    width: 100%;
}

.historia:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.historia:hover .button-text {
    color: #fff;
}

/* Historia*/

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nossa .santos {
    list-style: none;
    margin-bottom: 50px;

}

ul li input {
    position: relative;
    z-index: 1000;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

ul li .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul li .slider .face {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #fff;
}

ul li .slider .face.face1 {
    left: 0;
    transition: transform 1s;
    transform-origin: top;
    transform: rotateX(90deg);
}

ul li .slider .face.face1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul li .slider .face.face2 {
    right: 0;
    transition: transform 1s;
    transform-origin: bottom;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(90deg);
}

ul li .slider .face.face2 h2 {
    font-size: 4em;
    color: #333;
}

ul li .slider .face.face2 p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.7em;
}

ul li input[type="radio"]:checked ~ .slider .face.face1 {
    transform: rotateX(0deg);
    transition: transform 1s;
    transform-origin: bottom;
}

ul li input[type="radio"]:checked ~ .slider .face.face2 {
    transform: rotateX(0deg);
    transition: transform 1s;
    transform-origin: top;
}

.decricao {
    display: flex;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.coluna-esquerda {
    flex: 1;
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    padding-right: 20px;
}

.coluna-direita {
    flex: 1;
    font-size: 1em;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.jovem {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.torcida2 {
    width: 80%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Logo da torcida sobreposta aos textos */
.logo2 {
    width: 150px;
}

/* Estilo do título principal */
.title {
    font-size: 1.8em;
    font-family: 'Revue', sans-serif;
    margin-bottom: 20px;
    z-index: 2; /* Garante que o texto ainda esteja visível */
    color: #fff;
}

/* Estilo do subtítulo */
.subtitle {
    font-size: 1em;
    line-height: 1.5;
    z-index: 2; /* Garante visibilidade sobre o fundo */
    color: #fff;
}

.hidden-item{
    transform: translateX(-50%);
    opacity: 0;
    transition: 1.5s;
}

.show{
    transform: translateX(0%);
    opacity: 1;
}

/* Nosso Projeto */

#carrosel {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

#carrosel input[type="radio"] {
    display: none;
}

#carrosel label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#carrosel1:checked ~ #slides .inner {
    margin-left: 0;
}

#carrosel2:checked ~ #slides .inner {
    margin-left: -100%;
}

#carrosel3:checked ~ #slides .inner {
    margin-left: -200%;
}

#carrosel4:checked ~ #slides .inner {
    margin-left: -300%;
}

#carrosel5:checked ~ #slides .inner {
    margin-left: -400%;
}

#carrosel6:checked ~ #slides .inner {
    margin-left: -500%;
}

#carrosel7:checked ~ #slides .inner {
    margin-left: -600%;
}

#carrosel8:checked ~ #slides .inner {
    margin-left: 700%;
}

#carrosel9:checked ~ #slides .inner {
    margin-left: -800%;
}

#carrosel10:checked ~ #slides .inner {
    margin-left: -900%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 200px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: block;
    height: 100%;
    background: #fff;
}

#slides .slide_1 {
    background: #089d1e;
}

#slides .slide_2 {
    background: #899d08;
}

#slides .slide_3 {
    background: #9d3c08;
}

#slides .slide_4 {
    background: #23089d;
}

#slides .slide_5 {
    background: #9b089d;
}

#slides .slide_6 {
    background: #9d084b;
}

#slides .slide_7 {
    background: #9d0808;
}

#slides .slide_8 {
    background: #c43c06;
}

#slides .slide_9 {
    background: #9d0830;
}

#slides .slide_10 {
    background: #089d1e;
}

.slide-content {
    padding: 10px;
}

#controls {
    margin: -130px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}